.index {
    padding: 10px;
    border: 8px solid rgb(255, 0, 0);
    background: #f2f2f2;
    text-align:center
  }
  .container {
    background-color: #dddddd;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 1000px;
    
  }
  
  .ad-bottom {
    border: solid 3px #000;
    position: sticky;
    position: -webkit-sticky;
    bottom: 1rem;
    align-self: flex-end;
  }